.scoreLigne {
    display: flex;
    width: 80%;
    margin: auto;
}

.teamView {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    align-items: center;
}

.teamView button {
    margin-top: 1rem;
    width: 100%;
}

.teamName {
    font-size: 5rem;
}

#setWin {
    width: 100%;
    display: flex;
    text-align: center;


    button,
    span {
        margin: auto;
    }
}

#score {
    display: flex;
    flex-direction: column;

    #scoreA,
    #scoreB {
        display: flex;
        flex-direction: row;
    }
}